{
	"parser": "babel-eslint",
	"extends": "airbnb",
	"plugins": [
		"react"
	],
	"ecmaFeatures": {
		"jsx": true,
		"modules": true
	},
	"env": {
		"browser": true,
		"amd": true,
		"es6": true,
		"node": true,
		"jest": true
	},
	"rules": {
		"indent": [2, "tab", {"SwitchCase": 1}],
		"max-len": 0,
		"camelcase": 0,
		"func-names": 0,
		"one-var": 0,
		"template-curly-spacing": [2, "always"],
		"no-use-before-define": 0,
		"brace-style": [2, "stroustrup", { "allowSingleLine": true }],
		"comma-dangle": [2, "never"],
		"quotes": [ 1, "single" ],
		"no-param-reassign": [1, {"props": true}],
		"prefer-rest-params": 1,
		"prefer-template": 1,
		"no-else-return": 0,
		"no-undef": 1,
		"no-shadow": 0,
		"prefer-arrow-callback": 0,
		"space-before-function-paren": [2, "never"],
		"global-strict": 0,
		"no-extra-semi": 1,
		"no-underscore-dangle": 0,
		"no-console": 1,
		"no-unused-vars": 2,
		"no-trailing-spaces": [1, { "skipBlankLines": true }],
		"no-unreachable": 1,
		"no-alert": 1,
		"no-multiple-empty-lines": [2, {"max": 1, "maxBOF": 0, "maxEOF": 1}],
		"arrow-body-style": [2, "always"],
		"array-bracket-spacing": [2, "never"],
		"jsx-quotes": [2, "prefer-single"],
		"react/jsx-uses-react": 1,
		"react/jsx-curly-spacing": [2, "always"],
		"react/jsx-uses-vars": 2,
		"react/jsx-no-bind": 0,
		"react/sort-comp": [2, {
			order: [
				'static-methods',
				'lifecycle',
				'/^on.+$/',
				'render',
				'everything-else'
			]
		}],
		"react/jsx-boolean-value": [2, "always"],
		"react/prop-types": [1, { ignore: ["styles"] }],
		"react/jsx-indent-props": [2, 'tab']
	}
}
